<div
  class="min-h-screen bg-gradient-to-t from-slate-50 to-white py-12 px-4 sm:px-6 lg:px-8"
>
  <div
    class="max-w-7xl mx-auto bg-white border border-[rgba(0,0,0,0.05)] rounded-md"
  >
    <div
      class="px-6 py-6 bg-gradient-to-r from-slate-50 to-slate-100 text-slate-800 flex items-center justify-between"
    >
      <div
        *ngIf="account$ | async as address; else cwall"
        class="flex items-center"
      >
        <span [innerHTML]="icons.cube"></span>
        <h1 class="text-sm font-medium text-slate-800 ml-3">
          {{ address }}
        </h1>
      </div>
      <ng-template #cwall>
        <button class="text-xs py-2 px-6 border hover:bg-white rounded-md">
          Connect / Log In
        </button>
      </ng-template>
      <div class="flex space-x-4">
        <button
          (click)="exportToJson()"
          class="px-5 py-2 border border-slate-800 rounded text-xs font-medium text-slate-800 hover:bg-slate-200 focus:outline-none flex items-center"
        >
          <span [innerHTML]="icons.export" class="mr-2"></span>
          Export
        </button>
        <button
          (click)="importFromJson()"
          class="px-5 py-2 border border-slate-800 rounded text-xs font-medium text-slate-800 hover:bg-slate-200 focus:outline-none flex items-center"
        >
          <span [innerHTML]="icons.import" class="mr-2"></span>
          Import
        </button>
      </div>
    </div>

    <div class="p-6 space-y-6">
      <div class="grid w-1/2 grid-cols-1 md:grid-cols-2 gap-6">
        <div>
          <label class="block text-xs font-medium text-slate-700 mb-1">
            Source Chain
          </label>
          <div class="relative" (clickOutside)="closeDropdown('sourceChain')">
            <button
              (click)="toggleDropdown('sourceChain')"
              class="w-full bg-white border border-slate-300 text-slate-700 py-3 px-2.5 rounded leading-tight focus:outline-none flex justify-between items-center text-xs"
            >
              <span class="flex items-center">
                <app-chain-icon [chainId]="sourceChain.id"></app-chain-icon>
                <span class="ml-2">{{ sourceChain.name }}</span>
              </span>
              <svg
                class="fill-current h-3 w-3"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                />
              </svg>
            </button>
            <ul
              *ngIf="dropdowns['sourceChain']"
              class="absolute z-10 w-full bg-white border border-slate-300 mt-1 rounded-md shadow-lg max-h-60"
            >
              <li
                *ngFor="let chain of supportedChains"
                (click)="selectChain(chain)"
                class="px-2.5 py-3 hover:bg-slate-100 cursor-pointer text-xs flex items-center"
              >
                <app-chain-icon [chainId]="chain.id"></app-chain-icon>
                <span class="ml-2">{{ chain.name }}</span>
              </li>
            </ul>
          </div>
        </div>

        <div>
          <label class="block text-xs font-medium text-slate-700 mb-1">
            Source Token
          </label>
          <div class="relative" (clickOutside)="closeDropdown('selectedToken')">
            <button
              (click)="toggleDropdown('selectedToken')"
              class="w-full bg-white border border-slate-300 text-slate-700 py-3 px-2.5 rounded leading-tight focus:outline-none flex justify-between items-center text-xs"
            >
              <span class="flex items-center">
                <app-token-icon [token]="selectedToken"></app-token-icon>
                <span class="ml-2">{{ selectedToken }}</span>
              </span>
              <svg
                class="fill-current h-3 w-3"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                />
              </svg>
            </button>
            <ul
              *ngIf="dropdowns['selectedToken']"
              class="absolute z-10 w-full bg-white border border-slate-300 mt-1 rounded-md shadow-lg max-h-60 overflow-auto"
            >
              <li
                *ngFor="let token of supportedTokens"
                (click)="selectToken(token.symbol)"
                class="px-2.5 py-3 hover:bg-slate-100 cursor-pointer text-xs flex items-center"
              >
                <app-token-icon [token]="token.symbol"></app-token-icon>
                <span class="ml-2">{{ token.symbol }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div>
        <div class="mb-2">Recipients</div>
        <div class="">
          <table
            class="min-w-full divide-y divide-slate-200 border border-slate-200"
          >
            <thead class="bg-slate-50">
              <tr>
                <th
                  scope="col"
                  class="px-4 py-3 text-left text-xs font-medium text-slate-500 uppercase tracking-wider w-2/5 border-b border-slate-200"
                >
                  Address
                </th>
                <th
                  scope="col"
                  class="px-4 py-3 text-left text-xs font-medium text-slate-500 uppercase tracking-wider w-1/5 border-b border-slate-200"
                >
                  Destination Chain
                </th>
                <th
                  scope="col"
                  class="px-4 py-3 text-left text-xs font-medium text-slate-500 uppercase tracking-wider w-1/5 border-b border-slate-200"
                >
                  Amount
                </th>
                <th
                  scope="col"
                  class="px-4 py-3 text-left text-xs font-medium text-slate-500 uppercase tracking-wider w-1/5 border-b border-slate-200"
                >
                  Action
                </th>
              </tr>
            </thead>
            <tbody class="bg-white relative">
              <tr *ngFor="let recipient of recipients; let i = index">
                <td
                  class="px-4 py-3 whitespace-nowrap w-2/5 border-b border-slate-200"
                >
                  <div class="flex items-center">
                    <span [innerHTML]="icons.address" class="mr-2"></span>
                    <input
                      [(ngModel)]="recipient.address"
                      placeholder="Address"
                      class="w-full px-3 border-r border-slate-300 focus:outline-none text-xs"
                    />
                  </div>
                </td>
                <td
                  class="px-4 slate whitespace-nowrap w-1/5 border-b border-slate-200"
                >
                  <div
                    class="relative slate"
                    (clickOutside)="closeDropdown('chain' + i)"
                  >
                    <button
                      (click)="toggleDropdown('chain' + i)"
                      class="w-full bg-white border-r border-slate-300 text-slate-700 py-3 px-3 leading-tight focus:outline-none focus:ring-2 focus:ring-slate-400 focus:border-transparent flex justify-between items-center text-xs"
                    >
                      <span class="flex items-center">
                        <app-chain-icon
                          [chainId]="recipient.chain.id"
                        ></app-chain-icon>
                        <span class="ml-2">{{ recipient.chain.name }}</span>
                      </span>
                      <svg
                        class="fill-current h-3 w-3"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                      >
                        <path
                          d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                        />
                      </svg>
                    </button>
                    <ul
                      *ngIf="dropdowns['chain' + i]"
                      class="absolute z-[200] w-full bg-white border border-slate-100 mt-1 overflow-hidden"
                    >
                      <li
                        *ngFor="let chain of supportedChains"
                        (click)="selectRecipientChain(i, chain)"
                        class="px-2.5 py-3 slate hover:bg-slate-50 cursor-pointer text-xs flex items-center"
                      >
                        <app-chain-icon [chainId]="chain.id"></app-chain-icon>
                        <span class="ml-2">{{ chain.name }}</span>
                      </li>
                    </ul>
                  </div>
                </td>
                <td
                  class="px-4 py-2 whitespace-nowrap w-1/5 border-b border-slate-200"
                >
                  <div class="relative flex items-center">
                    <input
                      [(ngModel)]="recipient.amount"
                      min="0"
                      placeholder="0"
                      class="pl-3 pr-8 mr-4 py-3 border-slate-300 focus:outline-none text-xs"
                    />
                    <div
                      class="absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none"
                    >
                      <app-token-icon [token]="selectedToken"></app-token-icon>
                      <span class="text-slate-500 text-sm ml-2">{{
                        selectedToken
                      }}</span>
                    </div>
                  </div>
                </td>
                <td
                  class="px-4 py-2 whitespace-nowrap w-1/5 border-b border-slate-200"
                >
                  <button
                    (click)="removeRecipient(i)"
                    class="text-red-600 hover:text-red-900 focus:outline-none"
                  >
                    <span [innerHTML]="icons.trash"></span>
                  </button>
                </td>
              </tr>
              <tr>
                <td
                  colspan="4"
                  class="whitespace-nowrap border-b border-slate-200"
                >
                  <button
                    (click)="addRecipient()"
                    class="w-full px-3 text-slate-700 py-3 flex flex-row gap-x-2 items-center justify-center hover:bg-slate-100 focus:outline-none transition duration-150 ease-in-out text-xs"
                  >
                    <span [innerHTML]="icons.add"></span>
                    Add Recipient
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="flex justify-between items-center mb-3">
        <div class="text-xs">
          <div
            class="flex relative flex-row items-center gap-x-2"
            *ngIf="usdcBalance$ | async as usdcBalance"
          >
            <div class="flex flex-row gap-x-2 border rounded-sm">
              <div class="py-2 px-4">Balance</div>
              <div class="border-x px-4 flex flex-row gap-x-2 items-center">
                <app-chain-icon [chainId]="sourceChain.id"></app-chain-icon>
                <div>{{ sourceChain.name }}</div>
              </div>
              <div class="flex flex-row items-center pl-2 pr-4">
                <div class="mr-3">
                  {{ getBalanceForChain(sourceChain.id, usdcBalance) }}
                </div>
                <app-token-icon [token]="selectedToken"></app-token-icon>
                <div class="ml-1">{{ selectedToken }}</div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="usdcBalance$ | async as usdcBalance" class="flex flex-row">
          <ng-container *ngIf="address$ | async; else connectWalletWarning">
            <div *ngIf="getBalanceForChainAmount(sourceChain.id, usdcBalance) < calculateTotalAmount()"
              class="px-4 py-2 mr-8 text-xs flex flex-row items-center text-red-700 rounded-md bg-red-50 border-red-100"
            >
              Not enough {{ selectedToken }} on {{ sourceChain.name }}
            </div>
          </ng-container>
          <ng-template #connectWalletWarning>
            <div
              class="px-4 py-2 mr-8 text-xs text-orange-700 border rounded-md bg-amber-50 border-orange-200"
            >
              Please connect wallet
            </div>
          </ng-template>
          <span class="text-lg py-1 text-slate-800"
            >Total: {{ calculateTotal() }} {{ selectedToken }}</span
          >
        </div>
      </div>
      <div class="flex flex-row justify-end">
        <button
          *ngIf="address$ | async; else notConnected"
          (click)="disperse()"
          class="px-10 py-2.5 bg-indigo-600 text-white flex flex-row gap-x-3 items-center text-xs font-medium rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-opacity-50 transition duration-150 ease-in-out"
        >
          <div class="flex flex-row items-center gap-x-2" *ngIf="!isDispersing">
            <span [innerHTML]="icons.disperse"></span>
            Disperse Tokens
          </div>

          <div *ngIf="isDispersing">
            Dispersing...
          </div>
          
        </button>
      </div>
    </div>
  </div>
  <a target="_blank" href="https://klaster.io" class="flex flex-col w-full justify-center mt-24 gap-x-2 items-center">
    <div class="opacity-75 text-xs">Built with</div> <img class="h-6 mt-4" src="../assets/klasterlogo.png" alt="" srcset="">
  </a>
</div>

<ng-template #notConnected>
  <button
    [class.animate-pulse]="isConnecting"
    (click)="connect()"
    class="px-10 py-2.5 bg-indigo-600 text-white flex flex-row gap-x-3 items-center text-xs font-medium rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-opacity-50 transition duration-150 ease-in-out"
  >
    <span class="flex flex-row gap-x-2 items-center" *ngIf="isConnecting">
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-loader h-4 w-4 animate-spin"
        >
          <path d="M12 2v4" />
          <path d="m16.2 7.8 2.9-2.9" />
          <path d="M18 12h4" />
          <path d="m16.2 16.2 2.9 2.9" />
          <path d="M12 18v4" />
          <path d="m4.9 19.1 2.9-2.9" />
          <path d="M2 12h4" />
          <path d="m4.9 4.9 2.9 2.9" />
        </svg>
      </div>
      <div class="ml-2">Connecting...</div>
    </span>
    <span *ngIf="!isConnecting"> Connect / Log In </span>
  </button>
</ng-template>
